.*.swp
ramsch
what-done
*.class
conexp-clj/*
conexp-clj.zip
doc/*.aux
doc/*.log
doc/*.dvi
doc/*.out
doc/*.toc
doc/*.pdf
doc/*.thm
.#*
.nfs*
*~
output*
*.jar
lib
resources
classes
pom.xml
src/conexp/contrib/java/*.clj
.lein-failures
