/conexp-clj/*
/conexp-clj*.zip
.#*
.nfs*
/*~
/lib
/resources
/classes
/pom.xml
/src/main/clojure/conexp/contrib/java/Main.clj
/.lein*
/.cake*
/target
.nrepl-port
/pom.xml.asc
/builds
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.aux
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.log
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.nav
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.out
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.snm
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.synctex.gz
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.toc
/doc/icfca-2013-tutorial/icfca2013-tutorial-talk.vrb
