name: "conexp-clj Tests"
on:
  pull_request:
    branches:
      - dev
  push:
    branches:
      - dev

jobs:
  unit-tests:
    name: "conexp-clj Unit Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v4
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - run: nix flake check
